name: Hobby build → push → deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    uses: Sukhman-s-SKube/.github/.github/workflows/build-deploy.yaml@main
    with:
      IMAGE_NAME:    hobby/hobby
      DOCKERFILE_PATH: ./Dockerfile
      MANIFEST_PATH:  ./k8s
      KUBE_NAMESPACE: hobby
    secrets:
      HARBOR_URL:      ${{ secrets.HARBOR_URL }}
      HARBOR_USERNAME: ${{ secrets.HARBOR_USERNAME }}
      HARBOR_PASSWORD: ${{ secrets.HARBOR_PASSWORD }}
      KUBE_CONFIG:     ${{ secrets.KUBE_CONFIG }}
